:root {
  --text-color: #454452;
  --orange-color: #ff6701;
  --blue-color: #003686;
  --light-background: #ffffff;
  --primary-background: #fafaff;
  --hero-gradient: linear-gradient(to bottom, #ffffff, #f9f9ff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
a:hover {
  color: var(--orange-color);
  transition: all 0.3s ease-in-out;
}
body {
  color: var(--text-color);
}
.container {
  width: 90%;
  padding: 1.5rem 0;
  margin: auto;
  position: relative;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav > a img {
  width: 80px;
}

.navlist {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  display: none;
  width: 60%;
}

.navlist li a {
  color: var(--light-background);
}

#menu-bar {
  cursor: pointer;
}
.close {
  transform: translateX(100%);
}
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: #00000070;
  opacity: 0;
  transition: all 0.3s ease-in;
}
#side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 20rem;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
  background: linear-gradient(180deg, #ffffff 0.96%, #d2e4ff 100%);
  transition: all 0.3s ease-in-out;
  z-index: 1002;
}
#side-nav button {
  margin: 1rem;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
#side-nav button:hover {
  transition: all 0.5s ease-in;
  color: var(--orange-color);
  transform: rotateY(180deg);
}
.navlist.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  height: 50%;
  width: 90%;
  margin: 0 auto;
}
.navlist.side li {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  border: 1px solid transparent;
}
.navlist.side a {
  color: var(--text-color);
}
.navlist.side li:hover {
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navlist.side li:hover a {
  transition: all 0.3s ease-in;
  color: var(--orange-color);
}

#hero {
  min-height: 650px;
  background-image: url(/images/aboutHero.png);
  color: var(--light-background);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}
#bottom-gradient {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 45%;
  background: linear-gradient(
    3.24deg,
    #f5f5fa 42.72%,
    rgba(145, 145, 148, 0) 97.19%
  );
}
.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  background: #00000040;
}
#hero-container {
  margin-top: 3rem;
  letter-spacing: 0.5px;
}
#hero-container h1 {
  font-size: clamp(1.5rem, calc(3vw + 1rem), 3rem);
}
#hero-container h1 span {
  color: var(--orange-color);
}
#hero-container p {
  font-size: 15px;
  margin-top: 0.5rem;
}
#hero-container {
  z-index: 2;
  height: 100%;
}
#hero-container div p {
  font-size: 14px;
}
#hero-container div {
  background: #454452;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  margin-top: 2rem;
}
#values {
  padding: 1rem 0;
}
#values-container h4 {
  margin-top: 0.5rem;
  font-weight: normal;
  width: 100%;
}
.mySwiper {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  min-height: 400px;
}
.swiper-wrapper {
  position: relative;
  height: 100%;
}
.swiper-slide {
  max-width: 300px;
  margin-top: 1.5rem;
}
.values-card {
  min-height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.52rem;
  box-shadow: -5px 12px 40.8px -8px #00000033;
  cursor: grab;
  position: relative;
  z-index: 1;
}
.values-card h4 {
  padding: 1.5rem;
  margin-top: 2rem;
}
.values-card h5 {
  font-weight: normal;
  padding: 0 1.5rem;
  line-height: 1.2rem;
}
.values-card div {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.values-card div img {
  height: 130px;
}
.values-card::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  background: #003686;
  transition: all 0.3s ease-in-out;
  color: var(--light-background);
  border-radius: 1.52rem;
  box-shadow: -5px 12px 40.8px -8px #00000033;
}
.values-card:hover::after {
  width: 100%;
}
.values-card:hover {
  color: #ffffff;
}

#innovation:hover div img {
  content: url(/images/valuehover1.png);
}
#excellence:hover div img {
  content: url(/images/valuehover2.png);
}
#customer:hover div img {
  content: url(/images/value3.png);
}
#integrity:hover div img {
  content: url(/images/valuehover4.png);
}
#growth:hover div img {
  content: url(/images/valuehover5.png);
}
#strength {
  background-color: var(--text-color);
  padding: 1rem 0;
}
#strength h2 {
  color: var(--light-background);
}
#strength h2 span {
  color: var(--orange-color);
}
.strength-cards {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}
.strength-card {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  min-height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 30px;
  box-shadow: -5px 12px 56.2px -8px #0000007a;
}
.strength-card p {
  font-size: 13px;
}
.strength-card div {
  width: 70%;
}
.strength-card img {
  max-width: 100px;
  width: 30%;
}
#leadership {
  padding: 1rem 0;
  background-color: var(--primary-background);
}
.leaders {
  margin-top: 5rem;
  display: grid;
  gap: 5rem;
}
.leader {
  position: relative;
  box-shadow: -5px 12px 40.8px -8px #0000007a;
  min-width: 230px;
  border-radius: 20px;
}
.leader-text {
  margin-top: 2rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  letter-spacing: 1px;
}
.leader-text h4 {
  color: var(--orange-color);
}
.leader-text h5 {
  font-weight: normal;
}
.leaders img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}
#client {
  padding: 1rem 0;
}
.clients {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}
.client {
  min-width: 230px;
  padding: 1.5rem 1rem;
  border-left: 2px solid var(--orange-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  box-shadow: -5px 12px 40.8px -8px #00000033;
}
.client > p {
  font-size: 0.75rem;
}
.client-info {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
}
.client-info img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
#featured {
  background: var(--primary-background);
  padding: 1rem 0;
  letter-spacing: 1px;
}
.featuredSwiper {
  width: 100%;
  min-height: 500px;
}
.slide {
  min-width: 200px;
  max-width: 250px;
  min-height: 420px;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
}
.project img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.project div {
  padding: 1rem;
}
.project div h5 {
  margin-top: 0.5rem;
  font-weight: normal;
}
#ideas-container p {
  margin-top: 0.5rem;
}
#ideas-container button {
  border: 1px solid var(--orange-color);
  background-color: var(--light-background);
  padding: 0.8rem 2rem;
  font-weight: bold;
  color: var(--orange-color);
  border-radius: 2px;
  box-shadow: -5px 12px 40.8px -8px #00000033;
  margin: 2rem auto;
  cursor: pointer;
  display: flex;
  justify-self: center;
}
#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  padding: 4rem 0;
}

form {
  min-height: 400px;
  margin: auto;
  width: 90%;
  min-width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px 12px 40.8px -8px #00000033;
  padding: 1.5rem;
}
form input {
  border-radius: 20px;
  padding: 0.8rem 1rem;
  border: none;
  background: #f5f5f5;
  outline: none;
}
form textarea {
  border-radius: 10px;
  padding: 0.8rem 1rem;
  height: 150px;
  border: none;
  background: #f5f5f5;
  outline: none;
}
form button {
  border-radius: 20em;
  cursor: pointer;
  font-weight: bold;
  padding: 0.8rem 1rem;
  border: none;
  color: #fff;
  background: var(--blue-color);
  outline: none;
}
.links {
  display: flex;
  width: 90%;
  min-width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.links a {
  font-size: 0.625rem;
  font-weight: normal;
}
.reach {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.reach a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.pages {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-container > div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.625rem;
  gap: 0.5rem;
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.fa-facebook-f {
  color: #1873eb;
}
.fa-x-twitter {
  color: #1c96e8;
}
.fa-youtube {
  color: #f70000;
}
.terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.terms a {
  font-size: 0.625rem;
  font-weight: normal;
}
.terms span {
  height: 20px;
  width: 1px;
  background-color: #000;
}
.copyrights {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 0.6rem;
}
@media screen and (min-width: 22.8125rem) {
}

@media screen and (min-width: 27.1875rem) {
  #hero-container {
    margin-top: 3.4rem;
  }
}
@media screen and (min-width: 30rem) {
  #hero-container {
    margin-top: 5rem;
    letter-spacing: 1.2px;
  }
  #hero-container div {
    padding: 1.5rem;
  }
}
/* Tablet */
@media screen and (min-width: 40rem) {
  #hero-container {
    letter-spacing: 2px;
  }
  #hero-container div {
    margin-top: 2rem;
    padding: 2rem;
  }
  #hero-container p {
    font-size: 16px;
  }

  #hero-container div p {
    font-size: 15px;
  }
  .leaders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .clients {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .client {
    padding: 1.2rem 1.6rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (min-width: 50.625rem) {
  .head-logo img {
    width: 100px;
  }
  .navlist {
    display: flex;
  }
  #backdrop {
    display: none !important;
  }
  #menu-bar {
    display: none !important;
  }
  #side-nav {
    display: none;
  }
  #values {
    padding: 3rem 0;
  }
  #strength {
    padding: 3rem 0;
  }
  .strength-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .strength-card {
    min-height: 230px;
    border-top-right-radius: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
  }
  #leadership {
    padding: 3rem 0;
  }

  #client {
    padding: 3rem 0;
  }

  #featured {
    padding: 3rem 0;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
  }
  
  .slide {
    min-height: 400px ;
  }
  #ideas-container {
    margin-top: 1rem;
  }

  #footer-container {
    flex-direction: row;
  }
}

/* Desktop */
@media screen and (min-width: 64rem) {
  .head-logo img {
    width: 130px;
  }
  .container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
}
