:root {
  --text-color: #454452;
  --orange-color: #ff6701;
  --blue-color: #003686;
  --light-background: #ffffff;
  --primary-background: #fafaff;
  --hero-gradient: linear-gradient(to bottom, #ffffff, #f9f9ff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
a:hover {
  color: var(--orange-color);
  transition: all 0.3s ease-in-out;
}
body {
  color: var(--text-color);
  letter-spacing: 1px;
}
.container {
  width: 90%;
  padding: 1.5rem 0;
  margin: auto;
  position: relative;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav > a img {
  width: 80px;
}

.navlist {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  display: none;
  width: 60%;
}

.navlist li a {
  color: var(--light-background);
}

#menu-bar {
  cursor: pointer;
}
.close {
  transform: translateX(100%);
}
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: #00000070;
  opacity: 0;
  transition: all 0.3s ease-in;
}
#side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 20rem;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
  background: linear-gradient(180deg, #ffffff 0.96%, #d2e4ff 100%);
  transition: all 0.3s ease-in-out;
  z-index: 1002;
}
#side-nav button {
  margin: 1rem;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
#side-nav button:hover {
  transition: all 0.5s ease-in;
  color: var(--orange-color);
  transform: rotateY(180deg);
}
.navlist.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  height: 50%;
  width: 90%;
  margin: 0 auto;
}
.navlist.side li {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  border: 1px solid transparent;
}
.navlist.side a {
  color: var(--text-color);
}
.navlist.side li:hover {
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navlist.side li:hover a {
  transition: all 0.3s ease-in;
  color: var(--orange-color);
}
#overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  background: #00000096;
}
#bottom-gradient {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60%;
  background: linear-gradient(
    0.31deg,
    #f5f5fa 42.35%,
    rgba(145, 145, 148, 0) 84.43%
  );
}
#hero {
  min-height: 500px;
  position: relative;
  background: url(/images/fasticoreacademy.png);
  color: white;
  display: flex;
  background-position: center -200px;
  background-repeat: no-repeat;
}
#hero-container {
  z-index: 2;
  height: 100%;
  margin-top: 5rem;
}
#hero-container h1 {
  font-size: clamp(1.5rem, calc(3vw + 1rem), 3rem);
}

#hero-container span {
  color: var(--orange-color);
  text-align: center;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.hero-card {
  color: #000;
  background: var(--primary-background);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: -5px 12px 40.8px -8px #00000033;
  margin-top: 1rem;
}

.hero-card p {
  font-size: 13px;
  margin: 1rem 0;
}
.hero-card ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.hero-card .text li {
  font-size: 10px;
  margin: auto;
}

.card-img {
  display: none;
  width: 300px;
}
#graduate {
  padding: 1rem 0;
}
.graduates {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}
.graduate {
  min-width: 230px;
  padding: 1.5rem 1rem;
  border-left: 2px solid var(--orange-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  box-shadow: -5px 12px 40.8px -8px #00000033;
  display: grid;
}

.graduate-info {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
}

.graduate-info h5 {
  color: var(--orange-color);
  font-weight: normal;
}
.register {
  margin-top: 5rem;
}
.register-form {
  max-width: 550px;
  padding-top: 1rem;
  margin: auto;
}
.register div {
  margin-top: 1rem;
}
.register-form label {
  font-size: 14px;
  font-weight: bold;
}
.register-form input {
  display: block;
  width: 100%;
  background-color: inherit;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.8rem 1rem;
}
.register-form select {
  width: 100%;
  display: block;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.register-form textarea {
  width: 100%;
  background-color: inherit;
  border: 1px solid #ccc;
  padding: 0.8rem 1rem;
  height: 150px;
  border-radius: 10px;
}
.register-form button {
  width: 100%;
  background: var(--orange-color);
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  padding: 4rem 0;
}

.footer-form {
  min-height: 400px;
  margin: auto;
  width: 90%;
  min-width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px 12px 40.8px -8px #00000033;
  padding: 1.5rem;
}
.footer-form input {
  border-radius: 20px;
  padding: 0.8rem 1rem;
  border: none;
  background: #f5f5f5;
  outline: none;
}
.footer-form textarea {
  border-radius: 10px;
  padding: 0.8rem 1rem;
  height: 150px;
  border: none;
  background: #f5f5f5;
  outline: none;
}
.footer-form button {
  border-radius: 20em;
  cursor: pointer;
  font-weight: bold;
  padding: 0.8rem 1rem;
  border: none;
  color: #fff;
  background: var(--blue-color);
  outline: none;
}
.links {
  display: flex;
  width: 90%;
  min-width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.links a {
  font-size: 0.625rem;
  font-weight: normal;
}
.reach {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.reach a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.pages {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-container > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.625rem;
  gap: 0.5rem;
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.fa-facebook-f {
  color: #1873eb;
}
.fa-x-twitter {
  color: #1c96e8;
}
.fa-youtube {
  color: #f70000;
}
.terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.terms a {
  font-size: 0.625rem;
  font-weight: normal;
}
.terms span {
  height: 20px;
  width: 1px;
  background-color: #000;
}
.copyrights {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 0.6rem;
}

@media screen and (min-width: 22.8125rem) {
  /* #hero-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    letter-spacing: 1px;
  } */
}

@media screen and (min-width: 27.1875rem) {
  /* #hero-container {
    margin-top: 3.4rem;
  }
  #hero-container > p {
    font-size: 15px;
  }
  #hero-container div p {
    font-size: 15px;
  } */
}
@media screen and (min-width: 30rem) {

}
/* Tablet */
@media screen and (min-width: 40rem) {
  .crm-text {
    max-width: 60%;
  }
  .dashboard-container {
    width: 40%;
  }
  .crm-dashboard {
    display: flex;
    flex-direction: row;
  }
  #solutions {
    padding: 3rem 0;
  }
  #graduate {
    padding: 3rem 0;
  }
  .graduates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 50.625rem) {
  .head-logo img {
    width: 100px;
  }
  .navlist {
    display: flex;
  }
  #backdrop {
    display: none !important;
  }
  #menu-bar {
    display: none !important;
  }
  #side-nav {
    display: none;
  }
  .hero-card {
    display: flex;
  }
  .card-img {
    display: block;
  }
  #footer-container {
    flex-direction: row;
  }
}

/* Desktop */
@media screen and (min-width: 64rem) {
  .head-logo img {
    width: 130px;
  }
  .container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
}
