:root {
  --text-color: #454452;
  --orange-color: #ff6701;
  --blue-color: #003686;
  --light-background: #ffffff;
  --primary-background: #fafaff;
  --hero-gradient: linear-gradient(to bottom, #ffffff, #f9f9ff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  color: var(--text-color);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1.5rem;
}
nav > a img {
  width: 80px;
}
header ul {
  list-style-type: none;
  display: flex;
  gap: 60px;
  display: none;
}
header ul li a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 300;
}

#menu-bar {
  cursor: pointer;
}

#side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 20rem;
  transform: translateX(100%);
  min-height: 100vh;
  opacity: 0.9;
  background: linear-gradient(180deg, #ffffff 0.96%, #d2e4ff 100%);
}

#hero {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background: radial-gradient(
    78.47% 188.12% at 21.53% 43.07%,
    #ffffff 16.83%,
    #f9f9ff 100%
  );
}
.container {
  width: 100%;
  padding: 1.5rem;
  position: relative;
}

#hero-background {
  position: absolute;
  right: -250px;
  min-height: 90%;
  max-width: 550px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

#hero-text {
  position: absolute;
  top: -220px;
}
#hero-img {
  display: none;
}
#hero-text h1 {
  letter-spacing: 3px;
}

#hero-text h1 span {
  color: var(--orange-color);
}
#hero-text p {
  margin-top: 1rem;
  max-width: 35ch;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
#hero-text button {
  margin-top: 1rem;
  background: var(--orange-color);
  color: var(--light-background);
  border: none;
  padding: 1em;
  border-radius: 20em;
  cursor: pointer;
  box-shadow: 5px 6px 0px 0px #ff67014a;
  font-weight: bold;
}

#hero-text button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  box-shadow: 5px 6px 0px 0px #ff67014a inset;
}

#bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(
    0.37deg,
    #ffffff 49.63%,
    rgba(255, 255, 255, 0) 92.66%
  );
}

#services {
  padding: 4rem 1.5rem;
}
#services-container {
}
#services-container h2 {
  text-align: center;
}
#services-container h3 {
  margin: auto;
  margin-top: 1rem;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

#services-card {
  margin: auto;
  margin-top: 3rem;
  max-width: 285px;
  min-height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.52rem;
  box-shadow: -5px 12px 40.8px -8px #00000033;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#services-card h4 {
  padding: 0 1rem;
  margin-top: 2rem;
}
#services-card h5 {
  font-weight: normal;
  padding: 0 1rem;
  line-height: 1.2rem;
}
#services-card div {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

#services-card div img {
  height: 130px;
}

#services-card::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: -1;
  color: #fff !;
  bottom: 0;
  background: #003686;
  transition: all 0.3s ease-in-out;
  color: var(--light-background);
  border-radius: 1.52rem;
  box-shadow: -5px 12px 40.8px -8px #00000033;
}
#services-card:hover::after {
  width: 100%;
  color: white;
}
#services-card:hover {
  color: #ffffff;
}

#services-card div #trainings:hover {
  content: url(/images/serviceshover1.png);
}

@media screen and (min-width: 20rem) {
}

@media screen and (min-width: 30rem) {
}

@media screen and (min-width: 40rem) {
}
@media screen and (min-width: 48rem) {
  nav > a img {
    width: 100px;
  }
}

@media screen and (min-width: 64rem) {
  nav > a img {
    width: 130px;
  }
  header ul {
    display: flex;
  }
  header nav {
    padding: 1.5rem 0;
    width: 80%;
  }
  nav #menu-bar {
    display: none;
  }
}
