:root {
  --text-color: #454452;
  --orange-color: #ff6701;
  --blue-color: #003686;
  --light-background: #ffffff;
  --primary-background: #fafaff;
  --hero-gradient: linear-gradient(to bottom, #ffffff, #f9f9ff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}
body {
  color: var(--text-color);
}
.container {
  width: 90%;
  padding: 1.5rem 0;
  margin: auto;
  position: relative;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1.5rem 0;
}

#nav > a img {
  width: 80px;
}

.navlist {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  display: none;
  width: 60%;
}

.navlist li a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

#menu-bar {
  cursor: pointer;
}

#side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 20rem;
  transform: translateX(100%);
  min-height: 100vh;
  opacity: 0.9;
  background: linear-gradient(180deg, #ffffff 0.96%, #d2e4ff 100%);
}

#hero {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  /* min-height: 70vh; */
  min-height: 100vh;
  position: relative;
  /* overflow-x: hidden; */
  overflow: hidden;
  background: radial-gradient(
    78.47% 188.12% at 21.53% 43.07%,
    #ffffff 16.83%,
    #f9f9ff 100%
  );
}

#hero-background {
  position: absolute;
  right: -250px;
  top: 100px;
  /* top: 0; */
  min-height: 90%;
  max-width: 550px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

#hero-text {
  position: absolute;
  top: -220px;
}
#hero-img {
  display: none;
}
#hero-text h1 {
  letter-spacing: 3px;
  font-size: clamp(2rem, calc(2vw + 1rem), 4rem);
}

#hero-text h1 span {
  color: var(--orange-color);
}
#hero-text p {
  margin-top: 1rem;
  max-width: 35ch;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
#hero-text button {
  margin-top: 1rem;
  background: var(--orange-color);
  color: var(--light-background);
  border: none;
  padding: 1em;
  border-radius: 20em;
  cursor: pointer;
  box-shadow: 5px 6px 0px 0px #ff67014a;
  font-weight: bold;
}

#hero-text button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  box-shadow: 5px 6px 0px 0px #ff67014a inset;
}

#bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(
    0.37deg,
    #ffffff 49.63%,
    rgba(255, 255, 255, 0) 92.66%
  );
}

#services {
  padding: 4rem 0;
}
#services-container {

}
#services-container h2 {
  text-align: center;
}
#services-container h3 {
  margin-top: 1rem;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

.mySwiper {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  min-height: 400px;
}
.swiper-wrapper {
  position: relative;
  height: 100%;
}

.swiper-slide {
  max-width: 285px;
  margin-top: 1.5rem;
}

.services-card {
  min-height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.52rem;
  box-shadow: -5px 12px 40.8px -8px #00000033;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.services-card h4 {
  padding: 0 1rem;
  margin-top: 2rem;
}
.services-card h5 {
  font-weight: normal;
  padding: 0 1rem;
  line-height: 1.2rem;
}
.services-card div {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.services-card div img {
  height: 130px;
}

.services-card::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: -1;
  color: #fff !;
  bottom: 0;
  background: #003686;
  transition: all 0.3s ease-in-out;
  color: var(--light-background);
  border-radius: 1.52rem;
  box-shadow: -5px 12px 40.8px -8px #00000033;
}
.services-card:hover::after {
  width: 100%;
  color: white;
}
.services-card:hover {
  color: #ffffff;
}

#trainings:hover div img {
  content: url(/images/serviceshover1.png);
}
#machine:hover div img {
  content: url(/images/serviceshover2.png);
}
#design:hover div img {
  content: url(/images/serviceshover3.png);
}
#product:hover div img {
  content: url(/images/serviceshover4.png);
}
#web:hover div img {
  content: url(/images/serviceshover5.png);
}
#mobile:hover div img {
  content: url(/images/serviceshover6.png);
}
#automation:hover div img {
  content: url(/images/serviceshover7.png);
}

#build {
  background: var(--primary-background);
}
#build-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.build-text {
  width: 100%;
}
.build-text h3 {
  margin-top: 0.5rem;
  color: var(--orange-color);
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.5rem);
}
.build-text h4 {
  margin-top: 0.5rem;
  font-weight: normal;

  font-size: clamp(1rem, calc(1vw + 0.2rem), 1.5rem);
}
.build-text button {
  margin-top: 1rem;
  background: var(--orange-color);
  color: var(--light-background);
  border: none;
  padding: 1em;
  border-radius: 20em;
  cursor: pointer;
  box-shadow: 5px 6px 0px 0px #ff67014a;
  font-weight: bold;
}
#build-img {
  aspect-ratio: 4/3;
  width: min(90vw, 500px);
  object-fit: contain;
}

#solution {
  background: var(--primary-background);
}
#solution-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.solution-text {
  width: 100%;
}
.solution-text h3 {
  margin-top: 0.5rem;
  color: var(--orange-color);
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.5rem);
}
.solution-text h4 {
  margin-top: 0.5rem;
  font-weight: normal;

  font-size: clamp(1rem, calc(1vw + 0.2rem), 1.5rem);
}
.solution-text button {
  margin-top: 1rem;
  background: var(--orange-color);
  color: var(--light-background);
  border: none;
  padding: 1em;
  border-radius: 20em;
  cursor: pointer;
  box-shadow: 5px 6px 0px 0px #ff67014a;
  font-weight: bold;
}
#solution-img {
  aspect-ratio: 4/3;
  width: min(90vw, 500px);
  object-fit: contain;
}

#about {
  background: var(--light-background);
}
#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.about-text {
  width: 100%;
}
.about-text h2 {
  margin-top: 0.5rem;
  color: var(--orange-color);
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.5rem);
}
.about-text h4 {
  margin-top: 0.5rem;
  font-weight: normal;
  font-size: clamp(1rem, calc(1vw + 0.2rem), 1.5rem);
}

#about-img {
  aspect-ratio: 4/3;
  width: min(90vw, 500px);
  object-fit: contain;
  display: none;
}

.about-card {
  box-shadow: 0px 3px 18.1px -8px #0000004f;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
}
.about-card h3 {
  color: var(--orange-color);
}
.about-card img {
  aspect-ratio: 16/9;
  object-fit: contain;
  width: min(90vw, 300px);
  min-height: 150px;

  margin: auto;
}
#journey {
  background-color: var(--text-color);
  position: relative;
  padding: 4rem 0;
}

#journey-container {
 
}

#divider {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 40px;
  transform: translateX(-50%);
  z-index: 1;
}

.journey-card {
  box-shadow: -5px 12px 40.8px -8px #00000033;
  color: #fff;
  border-radius: 10px;
  padding: 0.875rem 1.25rem;
  display: flex;
  align-items: center;
  min-height: 200px;
  /* max-width: 90%;
  margin: auto; */
  justify-content: space-between;
  gap: 1rem;
}
.journey-img {
  aspect-ratio: 16/9;
  object-fit: contain;
}
.journey-text p {
  font-size: 0.8rem;
}

.world {
  position: relative;
  width: 100%;
}
.globe {
  width: 100%;
  object-fit: contain;

}
.locations {
  position: absolute;
  min-width: 80%;
  max-width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.world-text {
  text-align: center;
  width: 90%;
  margin: auto;
}

.world-text h4 {
  font-size: clamp(1.25rem, calc(0.5vw + 1rem), 2rem);
}
.world-text p {
  font-size: clamp(0.8rem, calc(1vw + 1rem), 1rem);
}

@media screen and (min-width: 20rem) {
}

@media screen and (min-width: 30rem) {
  #hero-background {
    right: -200px;
  }
}
/* Tablet */
@media screen and (min-width: 40rem) {
  #hero-background {
    right: -100px;
  }
}

@media screen and (min-width: 50.625rem) {
  .head-logo img {
    width: 100px;
  }
  .navlist {
    display: flex;
  }
  #menu-bar {
    display: none;
  }
  #hero-background {
    display: none;
  }
  #hero-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #hero-text {
    position: static;
  }
  #hero-img {
    display: block;
    width: min(90vw, 500px);
  }
  #build {
    padding: 3rem 0;
  }
  .build-text {
  }
  #build-img {
    min-width: 50%;
  }
  #build-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;

  }
  #solution {
    padding: 3rem 0;
  }
  .solution-text {
  }
  #solution-img {
    min-width: 50%;
  }
  #solution-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
 
  }
  #about {
    padding: 3rem 0;
  }
  .about-text {
  }
  #about-img {
    min-width: 50%;
    display: block;
  }
  #about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .about-card {
    width: 50%;
    min-width: 300px;
  }
  .cards {
    gap: 1rem;
  }
  .about-card {
    height: 400px;
  }
  .about-card img {
    height: 150px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  #divider {
    display: block;
    color: #a9a6a6;
  }
  .journey-card {
    max-width: 330px;
    position: relative;
  }
  .journey-card.left {
    align-self: flex-start;
    margin-left: calc(50% - 330px - 30px);
  }

  .journey-card.right {
    align-self: flex-end;
    margin-right: calc(50% - 330px - 30px);
  }
  .world-text {
    text-align: center;
  }
}

/* Desktop */
@media screen and (min-width: 64rem) {
  .head-logo img {
    width: 130px;
  }

  header nav {
    padding: 1.5rem 0;
    width: 80%;
  }
  .container {
    width: 80%;
  }
  #hero-container {
    gap: 6.2rem;
  }
  #hero-text {
   
  }
  #hero-img {
    display: block;
    width: min(100vw, 550px);
  }
  /* .journey-card {
    max-width: 400px;
    position: relative;
  }
  .journey-card.left {
    align-self: flex-start;
    margin-left: calc(50% - 400px - 60px);
  }

  .journey-card.right {
    align-self: flex-end;
    margin-right: calc(50% - 400px - 60px);
  } */
}
